.navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  justify-content: flex-end;
  z-index: 999;
}

.navigation_opened {
  display: flex;
}

.navigation__container {
  background-color: white;
  height: 100%;
  width: 520px;
  padding: 159px 0 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.navigation__child {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0 0 28px 0;
  transition: opacity .3s;
}
.navigation__child:last-child {
  margin-top: 260px;
}

.navigation__link {
  color: inherit;
  text-decoration: none;
}

.navigation__child_active {
  border-bottom: 2px solid black;
}

.navigation__child:hover, .navigation__close:hover {
  cursor: pointer;
  opacity: .6;
}

.navigation__close {
  position: absolute;
  top: 30px;
  right: 30px;
  border: none;
  background-color: transparent;
  transition: opacity .3s;
  background-image: url('../../images/CloseButton.svg');
  padding: 15px;
}

@media(max-width: 767px) {
  .navigation__container {
    width: 100%;
    padding: 144px 0 46px;
  }
}
