.header {
  background-color: #DDDEE3;
}

.header__logo {
  width: 38px;
  height: 38px;
  transition: opacity 0.3s;
}

.header__logo:hover {
  opacity: .7;
}

.header__container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1140px;
  padding: 18px 0;
  font-size: 13px;
  line-height: 18px;
}

.header_theme_white {
  background-color: white;
}

.header__nav {
  display: none;
}

.header__nav_visible {
  display: block;
}

.header__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__item {
display: inline-block;
margin-right: 50px;
font-size: 13px;
line-height: 18px;
transition: opacity .3s;
}

.header__item:first-child{
  margin-right: 20px;
}

.header__link-black{
  font-weight: 500;
}

.header__link {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  line-height: 18px;
}

.header__profile {
  padding: 6px 12px 6px 28px;
  border-radius: 50px;
  font-size: 14px;
  line-height: 16px;
  border: 2px solid rgba(170, 170, 170, 0.2);
}

.header__pic {
  width: 12px;
  height: 14px;
  background-image: url(../../images/AccountSmall.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.header__acc {
margin: 0;
position: relative;
font-weight: 500;
font-size: 13px;
line-height: 12px;
display: none;
transition: opacity .3s;
}

.header__acc_visible {
display: block;
}

.header__but {
display: block;
}

.header__but_hidden {
display: none;
}

.header__mini {
max-width: 396px;
}

.header__register{
margin-right: 25px;
background-color: transparent;
border: none;
color: black;
font-weight: 500;
font-size: 12px;
line-height: 16px;
transition: opacity .3s;
}

.header__log {
padding: 8px 20px;
background-color: #3456F3;
color: white;
border: none;
border-radius: 3px;
font-weight: 500;
font-size: 12px;
line-height: 16px;
transition: opacity .3s;
}

.header__logo {
transition: opacity .3s;
}

.header__register:hover, .header__log:hover, .header__logo:hover,
.header__menu:hover, .header__acc:hover, .header__item:hover {
cursor: pointer;
opacity: .6;
}

.header__menu {
display: none;
border: none;
background-color: transparent;
transition: opacity .3s;
}

@media(max-width: 1190px) {
.header__container{
margin: auto 30px;
}

.header__nav {
display: none;
}
.header__acc-container {
display: none;
}

.header__mini {
max-width: 396px;
}
.header__menu {
width: 30px;
height: 25px;
position: relative;
}

.header__menu_visible {
display: block;
}

.header__span {
content: '';
position: absolute;
top: 11px;
left: 0;
width: 100%;
height: 3px;
background-color: black;
}
.header__menu::before,
.header__menu::after {
content: '';
position: absolute;
width: 100%;
height: 3px;
left: 0;
background-color: black;
}
.header__menu::before {
top: 0;
}
.header__menu::after {
bottom: 0;
}

}

@media(max-width: 710px) {
.header__container{
margin: auto 14px;
}

.header__mini {
max-width: 260px;
justify-content: center;
}
.header__log {
padding: 5px 12px;
font-size: 11px;
line-height: 15px;
}
.header__register {
font-weight: 500;
font-size: 11px;
line-height: 15px;
margin-right: 14px;
}
.header__menu {
width: 20px;
height: 20px;
}

.header__span {
top: 8px;
}
}
